@{
    ViewData["Title"] = "Home Page";
}


<div class="wrapper">
	<div class="container" id="main">
        <div class="row">
            <div class="col-8">
                <h3>HFiles</h3>

                <p class="lead text-justify">
                    <b>HFiles</b> is a platform to manage (create and update) files in a decentralized form thanks to Hedera network.<br />
                    With <b>HFiles</b>, you can create and share files with your co-workers and friends.
                    You just need to create an <a asp-area="Identity" asp-page="/Account/Login" id="loginMenu">account</a>.
                </p>
            </div>
            <div class="col-4">
                <img src="~/css/images/hfiles_logo.JPG" />
            </div>
        </div>	
	</div>
</div>





